#hero-image {
    justify-self: center;
    grid-row: 1;
}

#nested-hero-grid {
    grid-column: 2/3;
    grid-row: 1;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        >* {
            margin-bottom: 20px;
            margin-left: 20px;
        }
    }

    h2, h3 {
        display: none;
        color: #F5F1E8;
        margin-bottom: 10px;
        font-weight: normal;
    }

    @media screen and (min-width: 768px) {
        h2 {
            display: block;
            font-size: 55px;
        }

        h3 {
            display: block;
            font-size: 20px;
            width: 456px;
        }
    }

    @media screen and (min-width: 1200px) {
        h2 {
            font-size: 96px;
        }

        h3 {
            width: 743px;
        }
    }

    .call-to-action {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #800020;
        border-radius: 10px;
        border: none;
        width: 166px;
        height: 46px;
        margin-top: 40px;

        a {
            padding: 0px;
            margin: 0px;
            text-decoration: none;
            font-size: 14px;
            color: #F5F1E8;
        }

        @media screen and (min-width: 768px) {
            width: 274px;
            height: 68px;

            a {
                font-size: 20px;
            }

        }

    }


}